*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar-btn{
    display: none;
}
#check{
    display: none;
}
.bagBtn{
    display: none;
}
#bag{
    display: none;
}

header{
    width: 100%;
    background: #fff;
   
   
    
    .logo{
        grid-area: logo;
        display: flex;
        justify-content: center;
        img{
            margin: 20px auto;
        }
    } 
    .menus{
        display: flex;
        justify-content: space-around;
    }
    .menu{
        grid-area: menu;
    }
    & nav{
        z-index: 1000;
        margin:auto 0;
        font-size: medium;
        
    }
    
    & nav ul{
        list-style: none;
        padding-left: 0;
        
    }
    & nav ul li{
        
        display: inline-block;
        position: relative;
    }
    & nav ul li:hover{
        background: #e1b12c;
       
    }
    & a:hover{
        color: #000;
    }
    & nav ul li a{
        color: #000;
        display: block;
        text-decoration: none;
        padding: 20px;
        margin: 0 25px;
        font-size: 18px;
    }
    
 
    .menu-dos {
        grid-area: dos;
        
        .bag-btn{
            margin-left: 300px;
            font-size: 25px;
            background: #e1b12c;
            color: #000;
            padding: 5px 15px 5px 15px ;
            border-radius: 25%;
        }
    }
    
}
nav ul li:hover .submenu{
    display: block;
   }
 nav ul li .submenu{
    display: none;
    background: #f1f2f6;
    position: absolute;
    width: 150%;
    z-index: 1000;
    
    & li{
        display:block;
        overflow: hidden;
        border-bottom: 1px solid rgba(255,255,255,.5);
        
    }
   
   }

@media (max-width:$tablet) {
    header{
        display: flex;
        flex-direction: column;
        .logo img{
            display: flex;
            width: 25vw;
            margin: auto;
        }
        & .bar-btn{
            display: block;
            font-size: 25px;
            color: #000;
            margin-left: 20px;
            cursor: pointer;  
            padding-bottom: 8px;
        }
        .nav-menu{
            height: 0vh;
            position:sticky;
            width: 80%;
            background-color: #ffda79;
            display: flex;
            flex-direction: column;
            z-index: 10;
            text-align: center;
            transition: all .5s;
            padding: 0;
            margin: 0;
            border-radius: 0 3% 3% 0;  
            & .submenu{
                width: 100%;
                position: relative;
                background-color: #f1f2f6;
            }
    
        } 
        nav ul li:hover .submenu{
            display: inline-block;
           }
        .nav-menu li{
            display: none;
        }
        #check{
            display: none;
        }
        #check:checked ~ .nav-menu{
            height: 100vh;
        }
        #check:checked ~ .nav-menu li{
            display: block;
        }
    
    }
   nav ul li:hover .submenu{
        display:inline-block;
       }
    .menu{
        text-transform: uppercase;
        font-size: small;
 
        
    }
  
} 


footer{
 
    background-color: #EAB543;
    .logo {
        border-radius: 55px 25px 85px 5px;
     }
   & h2 {
    color: #000;
   }
}

@media (max-width:$tablet){
    footer{
      padding: 15px;
      div a{
        .logo {
           border-radius: 55px 25px 85px 5px;
        }
      }
        & .navbar-brand{
            margin: auto;
        }
        & .newsletter{
            margin: 15px auto;
            padding: 20px 15px;
        }
        & .footerRedes{
            margin: auto;
            justify-content: space-around;
        }
    }
}