*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

//font-family: 'Ibarra Real Nova', serif;
//font-family: 'Clash Grotesk', sans-serif;
/* VARIABLES */
@import 'vars';

/* EXTEND */
.title{
    font-family: 'Cormorant SC', serif;
    color: #353b48;
}
.dark-bg{
    background-color: #191919;
}
.subtitle{
    font-family: 'Clash Grotesk', sans-serif;
    color: #000;
}

.principal{

}
/* APLICA A TODAS LAS PÁGINAS */

@import 'menu';

/* INDEX */
@import 'index';

/* ALIMENTOS */
@import 'alimentos';